# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# docs, aphorisms
docs/*
aphorisms/*
env/

twitter_creds.py
twitter_credsPost.py
mastodon_creds.py
HF_creds.py
W2Vmodel
pickled_kws.pkl
